<table border=1px>
	<tr>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>

<h3 class="get_started">click a square on the board to get started</h3>
<h4 class = 'get_started'>or click the button below to tell the computer to make the first move</h4>
<div class ="get_started"><button>Computer Starts</button></div>