<table border=1px>
	<tr>
		<td>X</td>
		<td>O</td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>

<h3>click to play</h3>